
.section-one img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.section-two .ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #BEBEBE;
    border: 2px solid #BEBEBE;
}

.section-two .ul .li {
    list-style: none;
}

.section-two .ul .li a {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.section-three {
    display: flex;
}
.section-three .inner-box1 {
    background-color: #E9E9E9;
    width: 20%;
}

.section-three .inner-box1 h1 {
    margin-bottom: 15px;
}

.section-three .inner-box1 ul {
    padding-left: 20px;
}

.section-three .inner-box1 ul li {
    margin-bottom: 10px;
}

.section-three .inner-box2 {
    flex: 3;
    border: 2px solid #BEBEBE;
    padding: 20px;
}

.section-three .inner-box2 .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #BEBEBE;
}

.section-three .inner-box2 .head img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.section-three .inner-box2 .content .inner-boxx {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-three .inner-box2 .content .inner-boxx .inner-wrap {
    flex-basis: calc(50% - 20px); 
}


.section-three .inner-box2 .content .inner-boxx .inner-wrap .inner-image img {
    width: 100%;
}
.section-three .inner-box2 .content .inner-boxx .inner-wrap .inner-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-three .inner-box2 .content .inner-boxx .inner-wrap .inner-desc {
    margin-bottom: 10px;
}

.section-three .inner-box2 .content .inner-boxx .inner-wrap button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 20px;
    color: white;
}

.section-three .inner-box2 .content2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-three .inner-box2 .content2 img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.section-three .inner-box2 .content3 {
    border: 1px solid #BEBEBE;
}



@media (max-width: 768px){
    .section-three .inner-box1 {
        width: 30%;
    }
    .section-three .inner-box2 .content .inner-boxx {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .section-three .inner-box2 .content .inner-boxx .inner-wrap {
        flex-basis: 100%; 
    }
}


.footer .inner-wrap {
    display: flex; 
    align-items: center; 
    background-color: #BEBEBE;
}

.footer .inner-box1 {
    flex: 1; 
}

.footer .inner-box2 {
    flex: 2; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}

.footer .inner-box2 p {
    margin-right: 15px; 
}

.footer .inner-box2 ul {
    display: flex; 
    padding: 0; 
    margin: 0;  
    list-style: none; 
}

.footer .inner-box2 ul li {
    margin-right: 15px; 
}


